.card {
    width: 16rem;
    display: inline-block;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgb(0,0,0, .14);
}

.card:hover {
    border: 1px solid #aaa;
    cursor: pointer;
    box-shadow: 0 4px 15px 0 rgb(0,0,0, .24);
}

.btn-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.btn-btn:hover {
    background-color: #45a049;
}
