* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: #181733;
    height: 80px;
    width: 100%;
}
.logo{
    color: #A30B1D;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
    line-height: 80px
}

ul {
    float: right;
    margin-right: 20px;
}

li  {
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
}
a {
    color: #A30B1D;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px
}

a.active,a:hover {
    background: #A30B1D;
    color: white;
}

